body {
    background:url('../images/background.jpg');
    outline:none;
    font-family: Sans-Serif;
}

header {
    width:70%;
    margin: 30px auto;
}

.navbar {
    outline:none;
    border:none;
}

.navbar-default{
     background-color:#6bafd6;
}

.navbar-brand {
    background-color:#6bafd6;
    color:#FFF;
}

.navbar-default .navbar-brand{
    color:#FFF;
}

.navbar-default .navbar-nav > li > a {
    color:#FFF;    
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:#FFF;    
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
	  align-content:center;
	  height:300px;
	  width: 50%;
	  
  }
.aboutme {
    background-color:#ecc961;
    color:#59431a;
    text-align:center;
    min-height:410px;
}

.aboutme-name {
    margin:30px auto auto auto;
    text-align:center;
    font-size:130%;
}

.aboutme img {
    width:280px;
    height:280px;
}

.follow {
    margin:10px auto;
}

a:hover, a:focus {
    outline:none;
    border:none;
}

#home {
    height:1000px;
}
#about {
	height:2000px;
}
.aboutsection{
	height:300 px;
	width:300px;
	margin:100 px auto auto auto;
	font-size: 200%;
}
.mycareer-font{
	font-size:36px;
font-family: Sans-Serif;
text-transform: uppercase;
background-color:#F4F4F4;
	}
.endparaabout{
	font-family:DejaVu Sans;
font-size: 24px;
color:#00ff00;
}
.subtitle{
font-size:24px;
color:#F008D2;
}
.contactstyle{
	float:right;
	background-color:#26B544;
   text-align:center;
       min-height:410px;
}	
.contactstyleme{
	color:black;
	font-size:36px;
	text-align:center;
}
.contactstyleme2{
	font-size:18px;
	text-align:center;
	color:#F0D209;}
.contactstyleme3{
	background-color:#0A0909;
	float:right;
	}
	.contactstyle4{
		font-size:36px;
		color:black;
		font:bold;
	}
